html,
body {
  margin: 0;
  padding: 0;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #fff;
  text-align: left;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

a:focus,
li:focus {
  outline: none;
}

.navbar {
  background-color: #000000;
  position: fixed;
  top: 0;
  width: 100%;
  -webkit-transition: top 0.3s;
  transition: top 0.3s;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 80px;
}

.navbar .navbar__container {
  width: 100%;
  height: 80px;
  position: relative;
}

.navbar .navbar__container .navbar__logo img:first-child {
  height: 44px;
  left: 30px;
  position: absolute;
  top: 22px;
  width: 44px;
}

.navbar .navbar__container .navbar__logo img:last-child {
  height: 23px;
  left: 102px;
  position: absolute;
  top: 36px;
  width: 91px;
}

.navbar .navbar__container .navbar__privacy {
  position: absolute;
  right: 18px;
  top: 5px;
  height: 38px;
}

.navbar .navbar__container .navbar__privacy .navbar__nav {
  -webkit-transition: opacity 0.5s ease-out;
  transition: opacity 0.5s ease-out;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 1rem;
  opacity: 1;
  visibility: visible;
}

.navbar .navbar__container .navbar__privacy .navbar__nav .menu__container {
  -webkit-box-flex: 1;
      -ms-flex: 1 0 auto;
          flex: 1 0 auto;
}

.navbar .navbar__container .navbar__privacy .navbar__nav .menu__container:first-child {
  margin: 0;
}

.navbar .navbar__container .navbar__privacy .navbar__nav .menu__container .navbar__list {
  margin: 0 -10px;
}

.navbar .navbar__container .navbar__privacy .navbar__nav .menu__container .navbar__list .navbar__item {
  display: inline-block;
  margin: 0 10px;
}

.navbar .navbar__container .navbar__privacy .navbar__nav .menu__container .navbar__list .navbar__item a {
  font-size: 18px;
  line-height: 24px;
  outline: none;
  text-decoration: none;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
  color: inherit;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.navbar .navbar__container .navbar__privacy .navbar__nav .menu__container .navbar__list .navbar__item a .navbar__i i {
  font-size: 8px;
  border: 2px solid;
  padding: 2px 4.5px;
  margin-right: 0.75rem;
  position: absolute;
  left: 15px;
  top: 4px;
  border-radius: 2px;
}

.navbar .navbar__container .navbar__privacy .navbar__nav .menu__container .navbar__language .navbar__language__list {
  margin-top: 0;
  margin-bottom: 1rem;
  list-style-type: none;
}

.navbar .navbar__container .navbar__privacy .navbar__nav .menu__container .navbar__language .navbar__language__list .navbar__language__item {
  display: inline-block;
}

.navbar .navbar__container .navbar__privacy .navbar__nav .menu__container .navbar__language .navbar__language__list .navbar__language__item a {
  color: #fff;
  font-size: 18px;
  line-height: 24px;
  outline: none;
  text-decoration: none;
}

.navbar .navbar__container .navbar__privacy .navbar__nav .menu__container .navbar__language .navbar__language__list .english {
  display: none;
}

.navbar .navbar__container .navbar__menu .navbar__menu__nav .navbar__search {
  font-size: 17px;
  color: #fff;
}

.navbar .navbar__container .navbar__menu .navbar__menu__nav .navbar__search:hover {
  color: #00adef;
}

.navbar .navbar__container .navbar__menu .navbar__menu__nav .navbar__bar {
  color: #fff;
}

.navbar .navbar__container .navbar__menu .navbar__menu__nav .navbar__bar .fa-times,
.navbar .navbar__container .navbar__menu .navbar__menu__nav .navbar__bar .fa-bars {
  font-size: 22px;
}

.navbar .navbar__container .navbar__menu .navbar__menu__nav .navbar__bar .fa-times:hover,
.navbar .navbar__container .navbar__menu .navbar__menu__nav .navbar__bar .fa-bars:hover {
  color: #00adef;
}

.navbar .navbar__container .navbar__menu .navbar__menu__nav .navbar__collapse .navbar__collapse__list .navbar__collapse__item {
  display: block;
  width: 100%;
}

.navbar .navbar__container .navbar__menu .navbar__menu__nav .navbar__collapse .navbar__collapse__list .navbar__collapse__item a {
  color: #fff;
  text-decoration: none;
  font-size: 17px;
}

.navbar .navbar__container .navbar__menu .navbar__menu__nav .navbar__collapse .navbar__collapse__list .navbar__collapse__item a:hover {
  color: #00adef;
}

.navbar .navbar__container .navbar__menu .navbar__menu__nav .navbar__collapse .navbar__collapse__list .navbar__collapse__item .navbar__vehicles {
  cursor: pointer;
}

.navbar .navbar__container .navbar__menu .navbar__menu__nav .navbar__collapse .navbar__collapse__list .navbar__collapse__item .disable {
  display: table-column;
}

.navbar .navbar__container .navbar__menu .navbar__menu__nav .navbar__collapse .navbar__collapse__list .navbar__collapse__item .enable {
  display: inline-block;
}

.navbar .navbar__container .navbar__menu .navbar__menu__nav .navbar__collapse_menu .navbar__menuRight {
  height: calc(100vh - 80px);
  opacity: 1;
  -webkit-transform: translateX(0);
          transform: translateX(0);
}

.navbar .navbar__container .navbar__menu .navbar__menu__nav .navbar__collapse_menu .navbar__menuRight .navbar__vehiclesButton {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #fff;
  border: none;
  border-radius: 2px;
  color: #333;
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 0.8rem;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  line-height: 1rem;
  margin: 0 auto;
  max-width: 100%;
  padding: 42px 21px;
  width: 100%;
}

.navbar .navbar__container .navbar__menu .navbar__menu__nav .navbar__collapse_menu .navbar__menuRight .navbar__vehiclesButton i {
  margin-right: 10px;
}

.navbar .navbar__container .navbar__menu .navbar__menu__nav .navbar__collapse_menu .navbar__menuRight .navbar__vehiclesButton:focus {
  outline: none;
}

.navbar__collapse_menu .navbar__menuRight {
  background-color: white;
  bottom: 0;
  font-size: 1rem;
  height: auto;
  left: 0;
  line-height: 1;
  opacity: 0;
  overflow: auto;
  position: fixed;
  right: 0;
  text-align: left;
  top: 80px;
  -webkit-transform: translateX(101vw);
          transform: translateX(101vw);
  width: 100vw;
  z-index: 10050;
}

.navbar__collapse_menu .navbar__menuRight .navbar__closeButtonX {
  height: 1px;
  margin: 0 auto;
  overflow: visible;
  position: relative;
  text-align: right;
  width: 100%;
}

.navbar__collapse_menu .navbar__menuRight .navbar__closeButtonX #close__menu .move {
  position: absolute;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  top: -2px;
  right: -6px;
}

.navbar__collapse_menu .navbar__menuRight .navbar__closeButtonX #close__menu i {
  color: #333;
  cursor: pointer;
  display: inline-block;
  font-size: 1.5rem;
  margin-right: 1.25rem;
  margin-top: 1.15rem;
  width: 18px;
  height: 16px;
}

.navbar__collapse_menu .navbar__menuRight .navbar__closeButtonX #close__menu i:last-child {
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

.navbar__collapse_menu .navbar__menuRight .navbar__slider .navbar__sliderBox .navbar__overview {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 3rem 0;
}

.navbar__collapse_menu .navbar__menuRight .navbar__slider .navbar__sliderBox .navbar__overview .container .navbar__slick,
.navbar__collapse_menu .navbar__menuRight .navbar__slider .navbar__sliderBox .navbar__overview .container .navbar__slick2 {
  padding-left: 0;
}

.navbar__collapse_menu .navbar__menuRight .navbar__slider .navbar__sliderBox .navbar__overview .container .navbar__slick .fa-chevron-left,
.navbar__collapse_menu .navbar__menuRight .navbar__slider .navbar__sliderBox .navbar__overview .container .navbar__slick .fa-chevron-right,
.navbar__collapse_menu .navbar__menuRight .navbar__slider .navbar__sliderBox .navbar__overview .container .navbar__slick2 .fa-chevron-left,
.navbar__collapse_menu .navbar__menuRight .navbar__slider .navbar__sliderBox .navbar__overview .container .navbar__slick2 .fa-chevron-right {
  position: absolute;
  display: block;
  height: 20px;
  width: 20px;
  line-height: 0;
  font-size: 0;
  cursor: pointer;
  top: 50%;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  padding: 0;
  border: none;
}

.navbar__collapse_menu .navbar__menuRight .navbar__slider .navbar__sliderBox .navbar__overview .container .navbar__slick .slick-arrow,
.navbar__collapse_menu .navbar__menuRight .navbar__slider .navbar__sliderBox .navbar__overview .container .navbar__slick2 .slick-arrow {
  bottom: 1rem;
  font-size: 1.55rem;
  top: auto;
  z-index: 2;
  color: black;
}

.navbar__collapse_menu .navbar__menuRight .navbar__slider .navbar__sliderBox .navbar__overview .container .navbar__slick .fa-chevron-right,
.navbar__collapse_menu .navbar__menuRight .navbar__slider .navbar__sliderBox .navbar__overview .container .navbar__slick2 .fa-chevron-right {
  right: 0;
}

.navbar__collapse_menu .navbar__menuRight .navbar__slider .navbar__sliderBox .navbar__overview .container .navbar__slick .slick-disabled,
.navbar__collapse_menu .navbar__menuRight .navbar__slider .navbar__sliderBox .navbar__overview .container .navbar__slick2 .slick-disabled {
  color: #999;
}

.navbar__collapse_menu .navbar__menuRight .navbar__slider .navbar__sliderBox .navbar__overview .container .navbar__slick .slick-dots,
.navbar__collapse_menu .navbar__menuRight .navbar__slider .navbar__sliderBox .navbar__overview .container .navbar__slick2 .slick-dots {
  bottom: -3.25rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 0 1.5rem;
}

.navbar__collapse_menu .navbar__menuRight .navbar__slider .navbar__sliderBox .navbar__overview .container .navbar__slick .slick-dots .slick-active div,
.navbar__collapse_menu .navbar__menuRight .navbar__slider .navbar__sliderBox .navbar__overview .container .navbar__slick2 .slick-dots .slick-active div {
  height: 3px;
  background-color: #00adef !important;
  width: 52.5px;
  border: none;
}

.navbar__collapse_menu .navbar__menuRight .navbar__slider .navbar__sliderBox .navbar__overview .container .navbar__slick .slick-dots .slick-active div:focus,
.navbar__collapse_menu .navbar__menuRight .navbar__slider .navbar__sliderBox .navbar__overview .container .navbar__slick2 .slick-dots .slick-active div:focus {
  outline: none !important;
  color: transparent;
}

.navbar__collapse_menu .navbar__menuRight .navbar__slider .navbar__sliderBox .navbar__overview .container .navbar__slick .slick-dots #slick-slide00 div,
.navbar__collapse_menu .navbar__menuRight .navbar__slider .navbar__sliderBox .navbar__overview .container .navbar__slick .slick-dots #slick-slide01 div,
.navbar__collapse_menu .navbar__menuRight .navbar__slider .navbar__sliderBox .navbar__overview .container .navbar__slick .slick-dots #slick-slide10 div,
.navbar__collapse_menu .navbar__menuRight .navbar__slider .navbar__sliderBox .navbar__overview .container .navbar__slick .slick-dots #slick-slide11 div,
.navbar__collapse_menu .navbar__menuRight .navbar__slider .navbar__sliderBox .navbar__overview .container .navbar__slick .slick-dots #slick-slide12 div,
.navbar__collapse_menu .navbar__menuRight .navbar__slider .navbar__sliderBox .navbar__overview .container .navbar__slick2 .slick-dots #slick-slide00 div,
.navbar__collapse_menu .navbar__menuRight .navbar__slider .navbar__sliderBox .navbar__overview .container .navbar__slick2 .slick-dots #slick-slide01 div,
.navbar__collapse_menu .navbar__menuRight .navbar__slider .navbar__sliderBox .navbar__overview .container .navbar__slick2 .slick-dots #slick-slide10 div,
.navbar__collapse_menu .navbar__menuRight .navbar__slider .navbar__sliderBox .navbar__overview .container .navbar__slick2 .slick-dots #slick-slide11 div,
.navbar__collapse_menu .navbar__menuRight .navbar__slider .navbar__sliderBox .navbar__overview .container .navbar__slick2 .slick-dots #slick-slide12 div {
  height: 3px;
  background-color: #333;
  width: 52.5px;
  border: none;
  cursor: pointer;
}

.navbar__collapse_menu .navbar__menuRight .navbar__slider .navbar__sliderBox .navbar__overview .container .navbar__slick .slick-dots #slick-slide00,
.navbar__collapse_menu .navbar__menuRight .navbar__slider .navbar__sliderBox .navbar__overview .container .navbar__slick .slick-dots #slick-slide10,
.navbar__collapse_menu .navbar__menuRight .navbar__slider .navbar__sliderBox .navbar__overview .container .navbar__slick .slick-dots #slick-slide11,
.navbar__collapse_menu .navbar__menuRight .navbar__slider .navbar__sliderBox .navbar__overview .container .navbar__slick2 .slick-dots #slick-slide00,
.navbar__collapse_menu .navbar__menuRight .navbar__slider .navbar__sliderBox .navbar__overview .container .navbar__slick2 .slick-dots #slick-slide10,
.navbar__collapse_menu .navbar__menuRight .navbar__slider .navbar__sliderBox .navbar__overview .container .navbar__slick2 .slick-dots #slick-slide11 {
  margin-right: 10px;
}

.navbar__collapse_menu .navbar__menuRight .navbar__slider .navbar__sliderBox .navbar__overview .container .slick-slider {
  margin-bottom: 30px;
  position: relative;
  display: block;
}

.navbar__collapse_menu .navbar__menuRight .navbar__slider .navbar__sliderBox .navbar__overview .container .slick-slider .slick-slide .navbar__vehicle__item {
  width: 20%;
  display: inline-block;
  list-style-type: none;
}

.navbar__collapse_menu .navbar__menuRight .navbar__slider .navbar__sliderBox .navbar__overview .container .slick-slider .slick-slide .navbar__vehicle__item a .navbar__vehicle__img {
  position: relative;
  display: block;
  width: 100%;
  padding: 0;
  overflow: hidden;
}

.navbar__collapse_menu .navbar__menuRight .navbar__slider .navbar__sliderBox .navbar__overview .container .slick-slider .slick-slide .navbar__vehicle__item a .navbar__vehicle__img img {
  width: 100%;
}

.navbar__collapse_menu .navbar__menuRight .navbar__slider .navbar__sliderBox .navbar__overview .container .slick-slider .slick-slide .navbar__vehicle__item a span {
  display: block;
  font-size: 1.25rem;
  line-height: 1.5em;
  margin-bottom: 3rem;
  margin-top: 1.5rem;
  text-align: center;
  width: 100%;
  color: #333;
}

.navbar__collapse_menu .navbar__menuRight .navbar__slider .navbar__sliderBox .navbar__overview .container .slick-slider .slick-slide .vehicle__margin {
  margin: 0 -4px 0 -4px;
}

.navbar__collapse_menu .navbar__menuRight .navbar__slider .navbar__sliderBox .container-outer {
  margin: 0 auto;
  max-width: 1680px;
  width: 100%;
}

.navbar__collapse_menu .navbar__menuRight .container {
  width: 100%;
  padding-right: 1px;
  padding-left: 1px;
  margin-right: auto;
  margin-left: auto;
}

@media (min-width: 480px) {
  .navbar__collapse_menu .navbar__menuRight .container {
    max-width: 420px;
  }
}

@media (min-width: 768px) {
  .navbar__collapse_menu .navbar__menuRight .container {
    max-width: 708px;
  }
}

@media (min-width: 1024px) {
  .navbar {
    height: 97px;
  }
  .navbar .navbar__container {
    height: 97px;
    margin: 0 auto;
  }
  .navbar .navbar__container .navbar__logo img:first-child {
    height: 64px;
    left: 18px;
    top: 17px;
    width: 64px;
  }
  .navbar .navbar__container .navbar__logo img:last-child {
    height: 28px;
    left: 146px;
    top: 49px;
    width: 112px;
  }
  .navbar__collapse_menu .navbar__menuRight {
    top: 97px;
  }
  .navbar__collapse_menu .navbar__menuRight .container {
    max-width: 964px;
  }
  .navbar__slick2 {
    display: none !important;
  }
  .navbar__viewList {
    display: none !important;
  }
}

@media (min-width: 1280px) {
  .navbar {
    height: 108px;
  }
  .navbar .navbar__container {
    width: 1280px;
    height: 108px;
  }
  .navbar .navbar__container .navbar__logo img:first-child {
    top: 22px;
  }
  .navbar .navbar__container .navbar__logo img:last-child {
    top: 54px;
  }
  .navbar .navbar__container .navbar__privacy {
    right: 18px;
    top: 5px;
  }
  .navbar .navbar__container .navbar__menu {
    bottom: 20px;
    position: absolute;
    right: 18px;
    width: auto;
  }
  .navbar .navbar__container .navbar__menu .navbar__menu__nav .navbar__search,
  .navbar .navbar__container .navbar__menu .navbar__menu__nav .navbar__bar {
    display: none;
  }
  .navbar .navbar__container .navbar__menu .navbar__menu__nav .navbar__collapse .navbar__collapse__list {
    margin: 0 -18px;
    list-style-type: none;
  }
  .navbar .navbar__container .navbar__menu .navbar__menu__nav .navbar__collapse .navbar__collapse__list .navbar__collapse__item {
    display: inline-block;
    margin: 0 18px;
    width: auto;
  }
  .navbar .navbar__container .navbar__menu .navbar__menu__nav .navbar__collapse .navbar__collapse__list .navbar__collapse__item a #search {
    display: none;
  }
  .navbar .navbar__container .navbar__menu .navbar__menu__nav .navbar__collapse_menu .navbar__menuRight {
    height: calc(100vh - 108px);
  }
  .navbar .navbar__container .navbar__menu .navbar__menu__nav .navbar__collapse_menu .navbar__menuRight .container {
    max-width: 1280px;
  }
  .navbar .navbar__container .navbar__menu .navbar__menu__nav .navbar__collapse_menu .navbar__menuRight .navbar__vehiclesButton {
    height: 4rem;
    padding: 0 0;
    visibility: hidden;
  }
  .navbar__collapse_menu .navbar__menuRight {
    top: 108px;
  }
}

@media (max-width: 767.98px) {
  .navbar .navbar__container .navbar__privacy .navbar__nav .menu__container {
    margin: 0;
    opacity: 1;
    text-align: center;
    -webkit-transition: opacity 0.16s;
    transition: opacity 0.16s;
  }
  .navbar .navbar__container .navbar__privacy .navbar__nav .menu__container .navbar__list {
    margin: 0;
  }
  .navbar .navbar__container .navbar__privacy .navbar__nav .menu__container .navbar__list .navbar__item {
    margin: 0;
  }
  .navbar .navbar__container .navbar__privacy .navbar__nav .menu__container .navbar__list .navbar__item a {
    display: inline-block;
    font-size: 1rem;
    line-height: 35px;
  }
  .navbar .navbar__container .navbar__privacy .navbar__nav .menu__container .navbar__list .navbar__item a .navbar__text {
    display: none;
  }
  .navbar .navbar__container .navbar__privacy .navbar__nav .menu__container .navbar__language .navbar__language__list {
    padding-left: 5px;
  }
  .navbar .navbar__container .not-show {
    display: none;
  }
  .navbar .navbar__container .container {
    margin-left: 30px;
    margin-right: 30px;
    max-width: calc(100% - 60px);
  }
  .navbar .navbar__viewList {
    padding-left: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-flow: column;
        flex-flow: column;
  }
  .navbar .navbar__viewList .navbar__viewItems {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 100%;
        flex: 0 0 100%;
  }
  .navbar .navbar__viewList .navbar__viewItems .navbar__viewImgs {
    position: relative;
    display: block;
    width: 100%;
    padding: 0;
    overflow: hidden;
  }
  .navbar .navbar__viewList .navbar__viewItems .navbar__viewImgs img {
    width: 100%;
    max-width: 100%;
    height: auto;
  }
  .navbar .navbar__viewList .navbar__viewItems .navbar__viewTexts {
    display: block;
    font-size: 1.25rem;
    line-height: 1.5em;
    margin-bottom: 3rem;
    margin-top: 1.5rem;
    text-align: center;
    width: 100%;
    color: #333;
  }
  .navbar .navbar__paging {
    margin-top: -30px;
    text-align: center;
    width: 100%;
    color: #333;
    font-size: 1rem;
  }
}

@media (max-width: 768px) {
  .navbar__slick,
  .navbar__slick2 {
    display: none !important;
  }
}

@media (max-width: 1023.98px) {
  .navbar .navbar__container .navbar__menu .navbar__menu__nav .navbar__collapse {
    top: 80px !important;
  }
  .navbar .navbar__container .navbar__menu .navbar__menu__nav .navbar__collapse_active {
    height: calc(100vh - 80px) !important;
  }
}

@media (max-width: 1279.98px) {
  .navbar .navbar__container .navbar__menu .navbar__menu__nav .navbar__search {
    bottom: 0;
    line-height: 35px;
    position: absolute;
    right: 50px;
  }
  .navbar .navbar__container .navbar__menu .navbar__menu__nav .navbar__bar {
    bottom: 0;
    line-height: 30px;
    position: absolute;
    right: 15px;
  }
  .navbar .navbar__container .navbar__menu .navbar__menu__nav .navbar__collapse {
    background: #000000;
    height: 0;
    left: 0;
    opacity: 0;
    overflow: hidden;
    -webkit-overflow-scrolling: touch !important;
    position: fixed;
    top: 90px;
    -webkit-transition: height 0.3s ease-out, opacity 0.3s ease-out;
    transition: height 0.3s ease-out, opacity 0.3s ease-out;
    width: 100%;
    z-index: 10000;
  }
  .navbar .navbar__container .navbar__menu .navbar__menu__nav .navbar__collapse .navbar__collapse__list {
    margin: 55px 0 0;
  }
  .navbar .navbar__container .navbar__menu .navbar__menu__nav .navbar__collapse .navbar__collapse__list .navbar__collapse__item {
    font-size: 24px;
    line-height: 62px;
    margin: 0;
    padding: 0 20px;
    text-align: center;
  }
  .navbar .navbar__container .navbar__menu .navbar__menu__nav .navbar__collapse_active {
    height: calc(100vh - 90px);
    opacity: 1;
  }
  .navbar .navbar__container .navbar__menu .navbar__menu__nav .navbar__collapse_active .navbar__collapse__list .navbar__collapse__item a {
    font-size: 23px;
  }
  .navbar .navbar__container .navbar__menu .navbar__menu__nav .navbar__collapse_active .navbar__collapse__list .navbar__collapse__item a #search {
    margin-left: 10px;
    display: inline-block;
  }
  .navbar__closeButtonX {
    display: none !important;
  }
}

@media (max-width: 924px) and (min-width: 768px) {
  .navbar__collapse_menu .navbar__menuRight .container {
    width: 720px !important;
  }
}

@media (max-width: 1023px) and (min-width: 768px) {
  .navbar__slick,
  .navbar__viewList {
    display: none !important;
  }
  .slick-slider .slick-slide .navbar__vehicle__item {
    width: 25% !important;
  }
}

@media (max-width: 1279px) and (min-width: 1024px) {
  .navbar__collapse_menu .navbar__menuRight {
    height: calc(100vh - 97px);
  }
}

@media (max-width: 1400px) and (min-width: 1280px) {
  .navbar__collapse_menu .navbar__menuRight .container {
    width: 1180px !important;
  }
}
