// xóa code mặc định của trình duyệt
html,
body {
    margin: 0;
    padding: 0;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #fff;
    text-align: left;
    background-color: black;
}
body.overflow {
    height: calc(100vh - 108px);
    overflow: hidden;
    position: fixed;
    width: 100%;
}
div,
input,
button {
    outline: none;
}

* {
    box-sizing: border-box;
}
a,
li {
    &:focus {
        outline: none;
    }
}
