.easy-icon {
    backface-visibility: hidden;
    background-color: transparent;
    color: #fff;
    cursor: pointer;
    font-size: 16px;
    line-height: 44px;
    position: fixed;
    transition: transform 0.5s ease-in-out, -webkit-transform 0.5s ease-in-out;
    width: 274px;
    z-index: 9951;
    .easy-list {
        margin: 0;
        width: 100%;
        .easy-icons {
            background: #1f1f1f;
            transition: transform 0.5s ease-in-out, -webkit-transform 0.5s ease-in-out;
        }
    }
}

@media (min-width: 768px) {
    .easy-icon {
        left: 100%;
        top: 35%;
        transform: translate(-44px);
        .easy-list {
            list-style-type: none;
            padding-left: 0;
            .easy-icons {
                height: 44px;
                margin-bottom: 1px;
                margin-top: 1px;
                .easy-link {
                    color: inherit;
                    text-decoration: none;
                    i {
                        display: inline-block;
                        font-size: 22px;
                        height: 44px;
                        line-height: 44px;
                        margin-right: -2px;
                        text-align: center;
                        width: 44px;
                    }
                    span {
                        margin-left: 5px;
                        line-height: 44px;
                        vertical-align: top;
                    }
                }
                .easy-icon-first {
                    color: inherit;
                    text-decoration: none;
                    .easy-share {
                        line-height: 44px;
                        vertical-align: top;
                    }
                    .fa-share-alt {
                        display: inline-block;
                        font-size: 22px;
                        height: 44px;
                        line-height: 44px;
                        margin-right: -2px;
                        text-align: center;
                        width: 44px;
                    }
                    .easy-icon-n {
                        display: inline-block;
                        height: 44px;
                        width: 220px;
                        a {
                            i {
                                display: inline-block;
                                font-size: 22px;
                                height: 44px;
                                line-height: 44px;
                                margin-right: -2px;
                                text-align: center;
                                width: 44px;
                                color: white;
                            }
                            &:hover {
                                i {
                                    color: #00adef;
                                }
                            }
                        }
                    }
                }
            }
            .easy-first {
                border-top-left-radius: 3px;
                &:hover {
                    transform: translateX(-230px);
                }
            }
            .easy-second {
                &:hover {
                    transform: translateX(-230px);
                }
            }
            .easy-third {
                border-bottom-left-radius: 3px;
                &:hover {
                    transform: translateX(-230px);
                }
            }
        }
    }
    .easy-share {
        display: none;
    }
}

@media (max-width: 767.98px) {
    .easy-icon {
        background: #000;
        bottom: 0;
        height: 60px;
        left: 0;
        padding: 2px 2px 0 2px;
        width: 100%;
        height: calc(60px + env(safe-area-inset-bottom));
        transition: transform 0.5s ease-in-out, height 0.16s, -webkit-transform 0.5s ease-in-out;
        .easy-list {
            display: flex;
            justify-content: space-evenly;
            font-size: 0;
            margin-left: auto;
            margin-right: auto;
            width: 100%;
            padding-left: 0;
            .easy-icons {
                height: calc(60px + env(safe-area-inset-bottom));
                transition: transform 0.5s ease-in-out, height 0.16s, -webkit-transform 0.5s ease-in-out;
            }
            .easy-first {
                display: inline-block;
                width: calc(33% - 2px);
                a {
                    text-decoration: none;
                    color: white;
                    i {
                        display: block;
                        margin-left: auto;
                        margin-right: auto;
                        text-align: center;
                        width: auto;
                        font-size: 22px;
                        height: 44px;
                        line-height: 44px;
                    }
                    span {
                        display: block;
                        line-height: 20px;
                        margin-top: -8px;
                        text-align: center;
                        width: 100%;
                        font-size: 13px;
                    }
                }
            }
            .easy-second {
                display: inline-block;
                width: calc(33% - 2px);
                a {
                    text-decoration: none;
                    color: white;
                    i {
                        display: block;
                        margin-left: auto;
                        margin-right: auto;
                        text-align: center;
                        width: auto;
                        font-size: 22px;
                        height: 44px;
                        line-height: 44px;
                    }
                    span {
                        display: block;
                        line-height: 20px;
                        margin-top: -8px;
                        text-align: center;
                        width: 100%;
                        font-size: 13px;
                    }
                }
            }
            .easy-third {
                display: inline-block;
                width: calc(33% - 2px);
                span {
                    i {
                        display: block;
                        margin-left: auto;
                        margin-right: auto;
                        text-align: center;
                        width: auto;
                        font-size: 22px;
                        height: 44px;
                        line-height: 44px;
                    }
                    .easy-share {
                        display: block;
                        line-height: 20px;
                        margin-top: -8px;
                        text-align: center;
                        width: 100%;
                        font-size: 13px;
                    }
                }
            }
        }
    }
}
